{
  "extends": "eslint:recommended",
  "rules": {
    "no-console":0,
    "no-use-before-define":0,
    "no-undef":0,
    "no-unused-vars":0
  },
  "parserOptions" : {
    "sourceType": "module"
  }
}